@font-face {
  font-family: "pacifico";
  src: url("../fonts/pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* style reset */
body {
  font-family: "poppins", sans-serif;
}

/* bootstrap reset */
.bg-light {
  background-color: #ffffff !important;
}
.navbar-brand {
  font-family: "pacifico", serif;
  color: #555555 !important;
}

/* advertisement container style */
.advertisement-container {
  padding: 100px;
  border: 2px solid #373737;
  border-radius: 10px;
}

/* kategori kontainer style */
.kategori-container {
  padding: 20px;
  border: 2px solid #373737;
  border-radius: 10px;
}
.kategori-container a {
  color: salmon;
}
.box-kategori {
  width: 100px;
  text-align: center;
  display: inline-block;
}
